@font-face {
    font-family: Helvetica;
    src: url(Helvetica.ttf);
}


@font-face {
    font-family: 'Grotesk';
    src: url(Akzidenz-grotesk-black.ttf);
}


body {
    color: white;
    background-image: url(picture.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
    overflow: hidden;
}


.logo{
    font-size: 35px;
    font-family: mont;
    animation: logo 2s 1;
}

@keyframes logo {
    0%{
        opacity: 0%;
    }

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 2px;
    padding-left: 7%;
    padding-right: 3%;
    font-family: mont, arial;
}

span{
    color: #929292;
}


.home{
    animation: home 3s 1;

}

@keyframes home {
    0%{
        opacity: 0%;
    }
}
.aboutme{
    animation: aboutme 3s 1;
}
@keyframes aboutme {
    0%{
        opacity: 0%;
    }
}

.info{
    animation: info 3s 1;
}
@keyframes info {
    0%{
        opacity: 0%;
    }
}
.about{
    text-align: center;
    padding-right: 21%;
    font-family: coolvetica;
    color: #ffffff;
    position: relative;
    font-size: 60%;
    letter-spacing: 4px;
}
.bod{
    text-align: justify;
    font-size: medium;
    padding-left: 28%;
    position: absolute;
    letter-spacing: 2px;
    font-family: helvetica;
    margin-top: -3%;
}
.picf{
    position: relative;
    left: 5%;
    top: -120px;
    max-width: 100%;
    display: block;
    height: auto;
    animation: pic 3s infinite;
}
.pics{
    position: relative;
    left: 5%;
    top: 50%;
    max-width: 100%;
    display: block;
    height: auto;
    z-index: 1;
    overflow-wrap: break-word;
}
.bgimg{
    background-color: #151a1a;
    width: 100%;
    padding: 10px 0;
    margin: 10px 10px;
    padding-left: 5%;
    padding-right: 1%;
    padding-top: -2%;
    border-radius: 30px;
    animation: bg 3s 1;   
}
.bod2 {
    background-color: black;
}