@font-face {
    font-family: Helvetica;
    src: url(Helvetica.ttf);
}


@font-face {
    font-family: 'Grotesk';
    src: url(Akzidenz-grotesk-black.ttf);
}


body {
    background-image: url(picture.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
    font-size: 60px;
}


.logo{
    font-size: 35px;
    font-family: mont;
    animation: logo 2s 1;
}

@keyframes logo {
    0%{
        opacity: 0%;
    }

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 2px;
    padding-left: 7%;
    padding-right: 3%;
    font-family: mont, arial;
}

span{
    color: #929292;
}


.home{
    animation: home 3s 1;

}

@keyframes home {
    0%{
        opacity: 0%;
    }
}
.aboutme{
    animation: aboutme 3s 1;
}
@keyframes aboutme {
    0%{
        opacity: 0%;
    }
}

.info{
    animation: info 3s 1;
}
@keyframes info {
    0%{
        opacity: 0%;
    }
}

.content{
    color: white;
    font-family: helveticanow;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: black 5px;
    margin-top: 5%;
    animation: content 3s 1;
    font-size: 70px
}
@keyframes content {
    0%{
        opacity: 0%;
        margin-top: 15%;
    }
    
}

p{
    font-size: 25px;
    margin-top: -50px;
    text-transform: none;
    font-family: montl;
    letter-spacing: 3px;
    animation: p 4s 1;
}
@keyframes p {
    0%{
        opacity: 0%;
        margin-top: -9%;
    }
    35%{
        opacity: 0%;
        margin-top: -9%;
    }
    50%{
        opacity: 0%;
        margin-top: -9%;
    }
}

h1{
    font-family: coolvetica;
    font-size: 90px;
    margin-top: -5px;
    letter-spacing: 8px;
}

button{
    width: 250px;
    padding: 30px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50px;
    font-weight: bold;
    border: 3px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-family: mont;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    animation: button 4s 1;
}
@keyframes button {
    0%{
        opacity: 0%;
        margin-top: -10%;
    }
    50%{
        opacity: 0%;
        margin-top: 10%;
    }
    
}

span1{
    
    background: white;
    height: 100%;
    width:0;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
}
button:hover span1{
    width: 100%;
}
button:hover{
    color: black;
    transition: .5s;
    border: none;
}
